---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>UT Teaching Assistant </h2>
I am currently a teaching assistant for M408D (Calculus II) under Irving Dai for Fall 2025. My discussion sections are held on

<ul class="no-bullets-list">
<li>T,TH 11:30am - 12:30pm in BUR224</li>
<li>T,TH 3:30pm - 4:30pm in UTC 3.134. </li>
</ul>
My offices hours are held in PMA 11:108 at TBD. Please send me an email for any questions, concerns, etc. 

<h2>UT Directed Reading</h2>

From 2024 to present, I have participating as a graduate student mentor to undergraduate students in the Directed Reading Program at UT. This program is designed to give undergraduate students an opportunity to learn about a topic of their choice in mathematics that is not typically covered in the undergraduate curriculum. I have mentored students particularly in topology:
<ul>
<li>Advay V. on Applied Topology (Fall 2024)</li>
<li>Allison P. on Knotted Surfaces (Spring 2025)</li>
<li>Ishan G. on Differental Geometry (Summer 2025)</li>
</ul>

<h2>UW Algebra Mentoring</h2>


From 2023 to 2024, I mentored for abstract algebra reading groups for undergraduate students to prepare them for the graduate algebra sequence at UW. We covered a typical course on group theory, ring theory, and field theory during these two quarters from ``Abstract Algebra'' by Dummit and Foote. This included exercises and presentations.

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->