---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Algebra Mentoring</h2>


On Winter 2023 and Spring 2024, I mentored an abstract algebra reading group for undergraduate students to prepare them for the graduate algebra sequence at UW. We covered a typical course on group theory, ring theory, and field theory during these two quarters from ``Abstract Algebra'' by Dummit and Foote. This included exercises and presentations. This year, I plan on continuing this reading group with another set of students.

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->