---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>UT Teaching Assistant </h2>
I am currently a teaching assistant for M408K (Differential Calculus) under Aurora Wallace for Spring 2026. My discussion sections are held on

<ul class="no-bullets-list">
<li>T,TH 2:30pm - 3:30pm in PMA 7.116</li>
<li>T,TH 4:00pm - 5:00pm in ETC 2.136 </li>
</ul>
My offices hours are held in PMA 11:108 on Tuesday from 1:00pm to 2:30pm. Please send me an email for any questions, concerns, etc. 

Previously:
<ul>
<li>2024 Spring: M408D: Sequences, Series, and Multivariable Calculus </li>
</ul>

<h2>UT Directed Reading</h2>

From 2024 to present, I have participating as a graduate student mentor to undergraduate students in the <a href="https://sites.google.com/view/utmathdrp">Directed Reading Program</a> at UT. This program is designed to give undergraduate students an opportunity to learn about a topic of their choice in mathematics that is not typically covered in the undergraduate curriculum. I have mentored students particularly in topology:
<ul>
<li>Advay V. on Applied Topology (Fall 2024)</li>
<li>Allison P. on Knotted Surfaces (Spring 2025)</li>
<li>Ishan G. on Differental Geometry (Summer 2025)</li>
<li>Nathan R. on Khovanov Homology (Fall 2025)</li>
</ul>

<h2>UW Algebra Mentoring</h2>


From 2023 to 2024, I mentored for abstract algebra reading groups for undergraduate students to prepare them for the graduate algebra sequence at UW. We covered a typical course on group theory, ring theory, and field theory during these two quarters from ``Abstract Algebra'' by Dummit and Foote. This included exercises and presentations.

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->